Source: ros-indigo-utilrb
Section: misc
Priority: extra
Maintainer: Orocos Development Team <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), cmake, libreadline-dev, libruby1.9.1, rake-compiler, ros-indigo-catkin, ruby-facets, ruby-hoe, ruby1.9.1, ruby1.9.1-dev
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-utilrb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libreadline-dev, libruby1.9.1, ros-indigo-catkin, ruby-facets, ruby-hoe, ruby1.9.1, ruby1.9.1-dev
Description: Ruby toolkit: This library is a collection of useful Ruby classes
