Source: ros-hydro-utilrb
Section: misc
Priority: extra
Maintainer: Orocos Development Team <orocos-dev@lists.mech.kuleuven.be>
Build-Depends: debhelper (>= 9.0.0), cmake, libruby1.8, libxslt1-dev, rake, ros-hydro-catkin, ruby-facets, ruby-nokogiri, ruby1.8-dev, rubygems1.8
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-utilrb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libruby1.8, libxslt1-dev, ros-hydro-catkin, ruby-facets, ruby-nokogiri, ruby1.8-dev, rubygems1.8
Description: Ruby toolkit: This library is a collection of useful Ruby classes
